name: "Pipeline (main)"
on:
  push:
    branches:
      - "main"
  workflow_dispatch:
jobs:
  ci:
    name: "CI"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@main"
        with:
          fetch-depth: 0
      - uses: "moonrepo/setup-toolchain@v0"
      - run: "moon ci :docker-push"
