name: "Moon (main)"
on:
  push:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      targets:
        description: "Targets to run"
        required: false
        default: ":docker-push"
        type: string

jobs:
  ci:
    name: "CI"
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up musl
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-dev musl-tools
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: "actions/checkout@main"
        with:
          fetch-depth: 0

      - uses: "moonrepo/setup-toolchain@v0"
        with:
          auto-install: true
          auto-setup: true

      - run:
          "moon ${{ github.event.inputs.targets && github.event.inputs.targets
          || 'ci :docker-push'}}"

      - uses: moonrepo/run-report-action@v1
        if: success() || failure()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
