name: "Pipeline (main)"
on:
  push:
    branches:
      - "main"
  workflow_dispatch:
jobs:
  ci:
    name: "CI"
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
      packages: write
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: "actions/checkout@main"
        with:
          fetch-depth: 0

      - uses: "moonrepo/setup-toolchain@v0"

      - run: "moon ci :docker-push"

      - uses: moonrepo/run-report-action@v1
        if: success() || failure()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
