name: Link Checker

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  check_links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get URLs
        id: get_urls
        run: |
          URLS=$(grep -rh "\- host:" cosmos/argocd | sed 's/.*- host: //;s/^[ \t]*//;s/[ \t]*$//' | sed 's/^/https:\/\//' | xargs)
          echo "URLS_TO_CHECK=${URLS}" >> $GITHUB_OUTPUT

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: ${{ steps.get_urls.outputs.URLS_TO_CHECK }}
          fail: true
